* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #454f6f;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
}

header h1 {
  font-size: 1.5rem;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

header nav a:hover {
  color: #b9c9ff;
}

.taste {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e6834c;
  gap: 1rem;
  padding: 1.8rem 1rem;
  width: 100%;
  text-align: center;
}

.taste h1 {
  font-size: 2.8rem;
  color: #fff;
}

.taste p {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem;
}

.taste button {
  background-color: #454f6f;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.taste button:hover {
  background-color: #b9c9ff;
  color: #454f6f;
}

#heroImage {
  display: inline-block;
  width: 320px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f4ff;
  gap: 1rem;
  padding: 2rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
}

.about h2 {
  text-align: center;
}

.about p {
  text-align: justify;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

section .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.8rem 1rem;
  margin: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
}

section .inner img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f4ff;
  gap: 1rem;
  padding: 2rem;
  margin: 1.5rem 0;
}

.contact h4 {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

.contac form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  margin-bottom: 1rem;
}

.contact form button {
  background-color: #e6834c;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

footer .top {
  background-color: #454f6f;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

footer .top h1 {
  font-size: 1.5rem;
}

footer .top nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

footer .top nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

footer .top nav a:hover {
  color: #b9c9ff;
}

footer .bottom {
  background-color: #e6834c;
  color: #000;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

/* TASK: Write Media query here, use 500px */

/* PHONE MODE */
@media screen and (max-width: 550px){
  .taste,
  section,
  header,
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav>*{
    margin-right: 2rem;
  }

  .first {
    margin-left: 2rem;
  }

  
  
}

/* TABLET MODE */
@media screen and (min-width: 550px) and (max-width: 800px){
  .taste,
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .taste h1 {
    margin-top: 2rem;
  }
}